<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  ServerName {{ domain }}.test
  ServerAlias www.{{ domain }}.test
  DocumentRoot {{ drupal_core_path }}/web
  <Director "{{ drupal_core_path }}/web">
    Options FollowSymLinks Indexes
    AllowOverride AllowOverride
  </Director>
</VirtualHost>